<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <connectionStrings>
        <add name="db" connectionString="Data Source=WizBolt.db;Version=3;New=False;Compress=True;" />
        <add name="WizBolt.Properties.Settings.WizBoltConnectionString"
            connectionString="data source=H:\WizBolt\WizBolt\bin\Release\WizBolt.db"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
</configuration>
